.cls1{
    border: 2px solid black;
    height: 150px;
    width: 150px;
    padding: 30px;
    margin: 10px;
    box-sizing: content-box;
    background-color: rgb(rgb(224, 150, 150), green, blue);
}
.cls2{
    border: 2px solid black;
        height: 150px;
        width: 150px;
        padding: 30px;
        margin: 10px;
        box-sizing: border-box;
        background-color: ;
    }