.container{
    height: 40vh;
    width: 60%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.box-1{
    background-color: lightblue;
}
.box-2{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-3{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-4{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-5{

    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-6{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-7{
    background-color: lightcyan;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.box-8{
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-9{
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box-10{
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-11{
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-12{
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-12{
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-13{
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.box-14{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-15{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-16{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-17{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-18{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-19{
    background-color: lightcyan;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box-20{
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-21{
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-22{
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-23{
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-24{
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-25{
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.box-26{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-27{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-28{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-29{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-30{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}